@import "_vars";
@import "_reset";


@import "header";

body {
    overflow-x: hidden;
    font-family: $primary_font_family;
}

main.main,
footer.footer {
    overflow-x: hidden;
}
.wrap {
    padding: 0 15px;
}

.container {
    max-width: calc($container_mx-width + $page_paddings * 2);
    padding: 0 $page_paddings;
    width: 100%;
    margin: 0 auto;
}

.btn {
    background-color: #CDC1FF;
    border-radius: 50px;
    padding: 17px 26px;
    
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    
    transition: background-color .2s linear;

    &:hover {
        background-color: #E6E0FF;
    }
}

.black_section {
    background-color: #292524;
    position: relative;
    z-index: 1;
    
    h3.title,
    p.text {
        color: #fff;
    }
    
    .container {
        position: relative;
        z-index: 3;
    }

    .blocks {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        div {
            width: 31px;
            height: 31px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .r {
           left: unset;
           right: 0; 
        }
        .b {
           top: unset;
           bottom: 0; 
        }
        .c-w {
            background-color: #FFF;
        }
        .c-b {
            background-color: #292524;
        }

         @media screen and (max-width: 500px) {
            .n500 {
                display: none;
                opacity: 0;
            }
        }
    }
}

h2.title {
    text-align: center;
    font-family: $secondary_font_family;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #292524;
}
h4.subtitle {
    color: #292524;
    text-align: center;
    font-family: $primary_font_family;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.black_section {
    h2.title {
        color: #FFF;
    }
}

@media screen and (max-width: 768px) {
    h2.title {
        font-size: 4.6rem;
    }
    h4.subtitle {
        font-size: 1.8rem;
    }
    .btn {
        border-radius: 50px;
        padding: 15px 24px;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 375px) {
    h2.title {
        font-size: 3.6rem;
    }
    h4.subtitle {
        font-size: 1.6rem;
    }
    .btn {
        border-radius: 50px;
        padding: 15px 20px;
        font-size: 1.6rem;
    }
}

@import "lr-section";
@import "slider";

@import "preview";
@import "interestings";
@import "always-connected";
@import "everything-protected";
@import "how-it-works";
@import "solutions";
@import "sm-tree";
@import "on-connect";
@import "market_links";
@import "try-it";
@import "confidence";
@import "download";
@import "feedback";
@import "form";
