.on-connect {
    padding-top: 115px;
    padding-bottom: 170px;
    
    h2.title {
        padding: 0 15px;
    }
    
    .slider__wrap {
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px)  {
}