$preview_fz: 96px;

.preview {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 155px;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .preview__text {
        font-size: $preview_fz;
        font-family: $secondary_font_family, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 675px;
        line-height: normal;
        z-index: 5;
    }
    
    .container::after,
    .container::before {
        content: "";
        display: block;
        position: absolute;
        width: 350px;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 8;
    }
    .container::after {
        bottom: 6%;
        left: 4%;
        background-image: url("../assets/3dqr\ 1.png");
        animation: qr2 30s ease infinite;
    }

    .container::before {
        top: -10%;
        right: 11.5%;
        background-image: url("../assets/3dqr\ 2.png");
        animation: qr1 30s ease infinite;
    }

    .btn {
        margin-top: 45px;
        
        svg  {
            width: 14px;
            height: 14px;
            margin-left: 5px;
        }
    }
}

@keyframes qr1 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }
    50% {
        transform: translateY(22%) rotate(40deg);
    }
    100% {
        transform: translateY(0%) rotate(0deg);
    }
}
@keyframes qr2 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }
    50% {
        transform: translateY(-45%) rotate(40deg);
    }
    100% {
        transform: translateY(0%) rotate(0deg);
    }
}

@media screen and (max-width: 1120px) {
    .preview {
        .preview__text {
            font-size: 7.2rem;
        }
        
        .container::after,
        .container::before {
            width: 300px;
            height: 300px;
        }

        .container::after {
            bottom: -10%;
            left: 5%;
        }

        .container::before {
            top: -15%;
            right: 12%;
        }
    }

    @keyframes qr1 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(40%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
    @keyframes qr2 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(-65%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
}
@media screen and (max-width: 768px) {
    .preview {
        .preview__text {
            font-size: 7.2rem;
        }
        
        .container::after,
        .container::before {
            width: 250px;
            height: 250px;
        }

        .container::after {
            bottom: -2%;
            left: -8%;
        }

        .container::before {
            top: -12%;
            right: 0%;
        }
    }

    @keyframes qr1 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(55%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
    @keyframes qr2 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(-75%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
}
@media screen and (max-width: 550px) {
    .preview {
        .preview__text {
            font-size: 6.4rem;
        }
        
        .container::after,
        .container::before {
            width: 200px;
            height: 200px;
        }

        .container::after {
            bottom: 5%;
            left: -12%;
        }

        .container::before {
            top: -13%;
            right: -5%;
        }

        .btn svg{
            width: 12px;
            height: 12px;
        }
    }
}
@media screen and (max-width: 375px) {
    .preview {
        padding-bottom: 120px;
        .preview__text {
            font-size: 5.2rem;
        }
        
        .container::after,
        .container::before {
            width: 150px;
            height: 150px;
        }

        .container::after {
            bottom: 30%;
            left: -20%;
            animation: qr2 50s ease infinite;
        }

        .container::before {
            top: -20%;
            right: -10%;
            animation: qr1 50s ease infinite;
        }
    }
    @keyframes qr1 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(120%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
    @keyframes qr2 {
        0% {
            transform: translateY(0%) rotate(0deg);
        }
        50% {
            transform: translateY(-125%) rotate(40deg);
        }
        100% {
            transform: translateY(0%) rotate(0deg);
        }
    }
}